.container {
  border: 1px solid green;
  margin-top: 30px;
  .box1 {
    background: blue;
    .text1 {
      color: #fff;
    }
  }
  .box2 {
    background-color: yellow;
    .text2 {
      color: blue;
    }
  }
  width: 1340px;
}
