@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;800&display=swap");
.navbar_background {
  // background: #f1f0f5;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 80px;
  .navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .navbar_section {
      display: flex;
      align-items: center;
    }
    .section_1 {
      cursor: pointer;
      .logo_image {
        height: 45px;
        width: 45px;
      }
      .logo_text {
        margin-left: 8px;
        font-weight: 700;
        font-size: 26px;
        font-family: "Nunito", sans-serif;
        span {
          color: #fc9823;
        }
      }
    }

    .section_2 {
      .nav_link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
        font-size: 16px;
        padding: 0 12px;
        color: #000000;
        transition: all 0.3s;

        &::after {
          content: "";
          width: 0;
          height: 1px;
          background: #fc9823;
          margin: auto;
          display: block;
        }
        &:hover::after {
          width: 80%;
          transition: 0.3s linear;
        }
        &:hover {
          color: #fc9823;
        }
      }
      .active {
        color: #fc9823;
        &::after {
          width: 80%;
          color: #fc9823;
        }
      }
    }
    .section_3 {
      position: relative;
      .badge {
        margin-right: 30px;
        .icon_box {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background: #ffffff;
          // margin-right: 20px;
          cursor: pointer;
          position: relative;
          transition: all 0.3s;

          .icon {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            fill: #1d1d1d;
            &:hover {
              fill: #fc9823;
            }
          }
          .set_color {
            fill: #fc9823;
          }
        }
      }

      .nav_btn {
        background: #fc9823;
        text-transform: capitalize;
        font-family: "Nunito", sans-serif;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        height: 40px;
        border-radius: 20px;
        width: 80px;
        &:hover {
          background: #1f1f1f;
        }
      }
    }
  }
}
.search_menu {
  display: flex;
  width: 280px;
  .search_input {
    height: 36px;
    width: 72%;
    margin: 0;
    outline: none;
    border: 1px solid #fc9823;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 10px;
    padding-left: 10px;
  }
  .search_button {
    background: #fc9823;
    color: #ffffff;
    height: 36px;
    font-size: 15px;
    margin: 0;
    padding: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    &:hover {
      background: #f89019;
    }
  }
}
