@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;800&display=swap");
.active_scroll {
  transition: all 0.3s;
  background: #f1f0f5;
}
.navbar_background {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 80px;
  .navbar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .navbar_section {
      display: flex;
      align-items: center;
    }
    .section_1 {
      cursor: pointer;
      .logo_image {
        height: 45px;
        width: 45px;
      }
      .logo_text {
        margin-left: 8px;
        font-weight: 700;
        font-size: 26px;
        font-family: "Nunito", sans-serif;
        span {
          color: #fc9823;
        }
      }
    }

    .section_2 {
      .nav_link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
        font-size: 16px;
        padding: 0 12px;
        color: #000000;
        transition: all 0.3s;

        &::after {
          content: "";
          width: 0;
          height: 1px;
          background: #fc9823;
          margin: auto;
          display: block;
        }
        &:hover::after {
          width: 80%;
          transition: 0.3s linear;
        }
        &:hover {
          color: #fc9823;
        }
      }
      .active {
        color: #fc9823;
        &::after {
          width: 80%;
          color: #fc9823;
        }
      }
    }
    .section_3 {
      position: relative;
      .badge {
        margin-right: 30px;
        .icon_box {
          width: 29px;
          height: 29px;
          // border-radius: 20px;
          // background: #ffffff;
          // margin-right: 20px;
          cursor: pointer;
          position: relative;
          transition: all 0.3s;

          .icon {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            fill: #1d1d1d;
            &:hover {
              fill: #fc9823;
            }
          }
          .set_color {
            fill: #fc9823;
          }
        }
      }

      .nav_btn {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-weight: 650;
        letter-spacing: 0.4px;
        font-size: 16px;
        padding: 0 12px;
        color: #000000;
        transition: all 0.3s;
        &:hover {
          color: #fc9823;
        }
      }
    }
  }
}
.search_menu {
  display: flex;
  width: 280px;
  .search_input {
    height: 36px;
    width: 72%;
    margin: 0;
    outline: none;
    border: 1px solid #fc9823;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 10px;
    padding-left: 10px;
  }
  .search_button {
    background: #fc9823;
    color: #ffffff;
    height: 36px;
    font-size: 15px;
    margin: 0;
    padding: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    &:hover {
      background: #f89019;
    }
  }
}

.up_icon {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  fill: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background: #fc9823;
  transition: all 0.3s;
  &:hover {
    background: #172b4d;
  }
}

/* FOOTER STYLES START*/
.footer {
  background: #f1f0f5;
  padding: 50px 50px 10px 50px;
  display: flex;
  justify-content: center;
  .footer_container {
    max-width: 1100px;
    width: 100%;
    .subscribe_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      .subs_title {
        font-weight: 500;
        font-size: 28px;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      .input_wrap {
        width: 50%;
        display: flex;
        justify-content: center;
        .footer_input {
          width: 85%;
          height: 40px;
          outline: none;
          border: none;
          border-radius: 0;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          padding: 0 10px;
          font-size: 16px;
          color: #777777;
        }
        .footer_btn {
          color: #ffffff;
          background: #fc9823;
          border-radius: 0;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
    .main_box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .main_section_1 {
        .site_logo {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          .logo_image {
            height: 45px;
            width: 45px;
          }
          .logo_text {
            margin-left: 8px;
            font-weight: 700;
            font-size: 26px;
            font-family: "Nunito", sans-serif;
            span {
              color: #fc9823;
            }
          }
        }
        .footer_text {
          width: 400px;
          margin: 30px 0;
          line-height: 30px;
          color: #575757;
        }
        .sns_box {
          width: 300px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          a {
            text-decoration: none;
            .sns_icon {
              color: #575757;
              width: 35px;
              height: auto;
              transition: all 0.2s;
              &:hover {
                color: #fc9823;
              }
            }
          }
        }
      }
      .main_section_2 {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        .section_heading {
          font-size: 22px;
          margin-bottom: 5px;
          color: #464646;
        }
        .marginer {
          height: 3px;
          width: 50px;
          background-color: #464646;
          margin-bottom: 15px;
        }
        .content {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 18px;
          line-height: 35px;
          text-decoration: none;
          color: #575757;
          cursor: pointer;
          transition: all 0.3s;
          .content_icon {
            margin-right: 10px;
          }
          &:hover {
            color: #fc9823;
            margin-left: 10px;
          }
        }
      }
      .section_3 {
        width: 330px;
      }
    }
    .sec_divider {
      height: 1px;
      background: #8d8d8d;
      margin: 20px 0;
    }
    .bottom_box {
      text-align: center;
      font-size: 14px;
    }
  }
}
/* FOOTER STYLES END*/
